<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" type="image/png" href="images/logoApplication.png" />
</head>