<body>
<header>
    <div id="divTitre">
        <img src="images/logoApplication.png" alt="Logo de l'application">
        <h1> <a href="/"> MensulCalc </a> </h1>
    </div>

    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/formEmprunt">Calcul emprunt</a></li>
            <%
                if (isUserLogin === true) { %>
                    <li><a href="/resultEmprunt">Historique de calculs des emprunts</a></li>
                <ul><li><a href="/deconnexion">Déconnexion</a></li></ul>
                <%}
                else{%>
                <ul>
                    <li><a href="/connexion">Connexion</a></li>
                    <li><a href="/inscription">Inscription</a></li>
                </ul>
                 <%}

            %>
        </ul>
    </nav>
</header>