<body>
<header>
    <h1>Application</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/formEmprunt">Calul emprunt</a></li>
            <%
                if (isUserLogin === true) { %>
                    <li><a href="/resultEmprunt">Mensualités des emprunts</a></li>
                    <li><a href="/deconnexion">Déconnexion</a></li>
                <%}
                else{%>
                    <li><a href="/connexion">Connexion</a></li>
                    <li><a href="/inscription">Inscription</a></li>
                <%}

            %>
        </ul>
    </nav>
</header>