<header>
    <h1>Application</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/form">Calul emprunt</a></li>

            <%
                if (isUserLogin === true) { %>
                    <li><a href="/deconnexion">Déconnexion</a></li>
                <%}
                else{%>
                    <li><a href="/login">Authentification</a></li>
                <%}

            %>
        </ul>
    </nav>
</header>