<%- include('layout/debut.ejs') %>

<body>
<%- include('layout/navigation.ejs') %>

<main>
    <h2>Page d'accueil</h2>

    <p>Bonjour
    <%
    if (isUserLogin === true){ %>
        <%= user.username + ", " %>
    <%}
    %>
        vous voici sur la page d'accueil</p>
</main>

<%- include('layout/fin.ejs') %>