<%- include("layout/debut.ejs") %>

<%- include("layout/navigation.ejs") %>

<main>
    <form action="formLogin" name="formLogin" method="post">
        <h2>Authentification</h2>

        <label for="login">Login</label>
        <input type="text" id="login" name="login" pattern="[a-zA-Z0-9\s]*" title="Veuillez ne pas utiliser de carractères spéciaux">

        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" pattern="[a-zA-Z0-9\s]*" title="Veuillez ne pas utiliser de carractères spéciaux">

        <button type="submit">OK</button>

        <% if (errorMessage != null){ %>
            <p class="error"> <%= errorMessage %> </p>
        <% } %>
    </form>
</main>

<%- include("layout/fin.ejs") %>