<%- include('layout/debut.ejs') %>

<body>
<%- include('layout/navigation.ejs') %>

<main>
    <h2>Page de Résultat de l'emprunt</h2>

    vous voici sur la page du résultat de l'emprunt

</main>

<%- include('layout/fin.ejs') %>